.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    display: flex;
    /* Make card flex container */
    flex-direction: column;
    /* Arrange children in a column */
    height: 100%;
}

.price {
    color: grey;
    font-size: 22px;
}

#products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    /* gap between cards as needed */
    padding: 16px;
    /* padding around the product grid */
    border-top: 2px solid #0297b2;
}

.card .content {
    flex-grow: 1;
    /* Make content take up remaining space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

.form-customer label {
    display: block;
    margin-bottom: 10px; /* space between input fields */
}

.form-customer .form-input {
    width: 50%; /* Adjust as needed */
    box-sizing: border-box;
}

.title {
    color: #0297b2;
    text-align: center;
}

#order-button-div {
    justify-content: center;
    display: flex;
}

#order-button {
    background-color: #0297b2;
    color: white;
    font-weight: bold;
    box-shadow: none;
    border: none;
    outline: none;
    text-align: center;
    padding: 15px 30px;
    /* Increase padding to make the button bigger */
    margin-right: 20px;
    /* Adjust margin for space between buttons */
    font-size: 16px;
    /* Optionally increase font size */
    width: 200px;
    /* Optionally set width */
    height: 50px;
    /* Optionally set height */
}

.order-info {

   font-size: large;

}

#order-info {
    margin-left: 120px;
}