html {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background-color: white;
    justify-content: center;
    margin: 0;
    padding: 0; 
    width: 100%; 
    height: 100%; 
    box-sizing: border-box; 
}

#order-button {
    background-color: #0297b2;
    color: white;
    font-weight: bold;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 20px 40px;
    /* padding (top-bottom, left-right) */
    margin: 10px;
    /* space around the button (top-right-bottom-left) */
    font-size: 22px;
    width: auto;
    /* adjust based on content */
    height: auto;
    /* adjust based on content */
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    /* Ensure proper spacing with other elements */
}

.order{
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: 20vh;
}

#order-button:hover {
    opacity: 0.7;
}